<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
 <!--    <test name="Test - 1" parallel="methods">
        <classes>
            <class name="runner.TestRunner">
                <methods>
                    <include name="EmployeeTest"/>
                </methods>
            </class>
        </classes>
    </test>
     -->
    <test name="Test - 2" parallel="methods">
        <classes>
            <class name="runner.TestRunner">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
     
</suite>